@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

html, body {
    height: 100vh;
}

.body {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: $color_default;
    background: #c0c0c0; 
    overflow: hidden;
} 
 
.wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
