// side start
.side {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15.36%;

    padding-top: 57px;
    padding-bottom: 100px;
    border-right: 2px solid #E5E5E5;
    background: $color_white;
    z-index: 2;
}

.side_inner {
    width: 100%;
    min-height: 500px;
    height: 100vh;
}

.side_logo-link {
    @include adaptive_property(font-size, 30, 18);
    line-height: 1.2;
    font-weight: 500;
}

.progress_bar-column {
    row-gap: 15px;
}

.progress_bar-number {
    @include adaptive_property(font-size, 54, 42);
    line-height: 1.2037;
}

.current-number {
    color: #B4977B;
}

.amount-number {
    color: #E4D6C9;
}

.progress_bar {
    width: 4px;
    height: 200px;
    border-radius: $slider_border-radius;
    background: #E5E5E5;
}

.progress_bar-item {
    @extend %progress_bar-item;

    &.active {
        opacity: 1;
    }
}

.progress_bar-button {
    width: 58px;
    height: 80px;
    border: 2px solid $color_active;
    border-radius: $button_border-radius;
    color: $color_active;
}
// side end